<div class="catalogue-item">
  <a href="{{ post.url | prepend: site.baseurl }}"  class="catalogue-item" style="padding-bottom: 0rem;">
    {% if include.sticky == 'true' %}
    <span class="catalogue-pinned">Pinned &middot;</span>
    {% endif %}
    {% if post.image %}
       <img src="{{ post.image }}" style="border:2px solid #EEE;" />
    {% endif %}
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>

    <p>
      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>
  </a>
    <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }} &#183;
    {% if post.author == "Aron Molnar" %}
      <a href="{{ '/aronmolnar' | prepend: site.baseurl }}" class="catalogue-time">{{ post.author }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    </time>
</div>
