<center>
    <form action="/signup" method="get">
        <input id="email" name="email" type="text" placeholder="Email" style="height:40px;width:250px;border:1px solid darkgrey;box-sizing: border-box;padding-left: 10px;">
        <input value="Submit" type="submit" style="height:40px;width:100px;border:1px solid darkgrey;">
    </form>

    <br /><br />

    Security for humans.<br />
    <span style="font-size:.8rem">No Spam. Ever.<br /><br /></span>
    <a href="/issues">Past issues</a> | <a href="/about/aronmolnar">About me</a>
</center>

